<div class="navbar">
    <h2>Navbar</h2>
    <ul class="nav-list">
        <li class="list-content"><a href="#" class="list-content1">Dashboard</a></li>
        <li class="list-content"><a href="#" class="list-content1">About</a></li>
        <li class="dropdown list-content">
            <a href="#" class="dropbtn">Dropdown</a>
            <div class="dropdown-content">
                <a href="#">Angularjs</a>
                <a href="#">reactjs</a>
                <a href="#">JS</a>
            </div>
        </li>
    </ul>
</div>
<div class="main">
    <div class="sidebar">
        <h2 class="sidebar-head">Sidebar</h2>
        <ul>
            <li class="list-content"><a href="#" class="list-content1">Home</a></li>
            <li class="list-content"><a href="#" class="list-content1">About-Us</a></li>
            <li class="list-content"><a href="#" class="list-content1">Contact-Us</a></li>
            <li class="list-content"><a href="#" class="list-content1">menu</a></li>
            <li class="dropdown list-content">
                <a href="#" class="dropbtn">Dropdown</a>
                <div class="dropdown-content list-content1">
                    <a href="#">Menu</a>
                    <a href="#">Tools</a>
                    <a href="#">Settings</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="box">
            <h2>Dashboard: {{Email}}</h2>
            <p>This is the content of Dashboard:{{password}}</p>
            <div class="dash-btn">
                <button class="btn-dash">submit</button>
            </div>
        </div>
        <div class="box">
            <h2>About-Us</h2>

            <p>This is the content of About-us.</p>
            <div class="dash-btn">
                <strong><i>
                        <p [textContent]="message"></p>
                    </i></strong>
                <button class="btn-dash1">submit</button>
            </div>
        </div>
        <div class="box">
            <h2>Menu</h2>
            <p>This is the content of Menu button.</p>
            <div class="dash-btn">
                <p>Count: {{count}}</p>
                <button class="btn-dash2" (click)="incrementcount()">Inc-btn</button>
                <button class="btn-dash2" (click)="resetcount()">reset-btn</button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="box">
            <h2>using ngModel</h2>
            <input type="text" [(ngModel)]="name">
            <p>Your name: {{ name }}</p>
        </div>
        <div class="box">
            <h2>Tools</h2>
            <div>
                <h3>using here structural directive.</h3>
                <ul>
                  <li *ngFor="let user of users">
                    {{ user.name }} ({{ user.age }} years old)
                  </li>
                </ul>
                <div *ngIf="users.length === 0">
                  No users found.
                </div>
              </div>
        </div>
        <div class="box">
            <h2>Contact-us</h2>
            <p>This is the content of Contact-us.</p>
        </div>
    </div>
    <div class="content">
        <div class="box">
            <h2>Dashboard</h2>
            <p>This is the content of Dashboard.</p>
        </div>
        <div class="box">
            <h2>About-Us</h2>
            <p>This is the content of About-us.</p>
        </div>
        <div class="box">
            <h2>Menu</h2>
            <p>This is the content of Menu.</p>
        </div>
    </div>
</div>
<app-tabs></app-tabs>